.container{
    max-width:900px;
    width:100%;
    margin:auto;
    padding:10px;
    border-radius:15px;
}
nav{
    display:flex;
    justify-content:space-between;
    position:sticky;
    top:10px;
    background-color:white;
    z-index:100;
}
nav h2{
    padding:10px;
    margin-top:0;
}
.links {
    display:flex;
    gap:20px;
}
.links a{
    margin-top:14px;
    text-decoration:none;
    color:black;
    transition:0.3s;
}
.links a:hover{
    transform:scale(1.05);
    color:blue;
}
header{
    text-align:center;
    padding:60px 20px;
    background:#f8fafc;
}
button{
    border:none;
    padding:10px;
    border-radius:15px;
    cursor:pointer;
    transition:.3s ease;
}
button:hover{
    background-color:black;
    color:white;
    transform:scale(1.05);
}
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}
.card{
    text-align:center;
    border:1px solid black;
    padding:10px;
    border-radius:12px;
    transition:0.3s;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}
img{
    width:100%;
    object-fit:cover;
    border-radius:12px;
}
.comment{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}
.comment div{
    border:1px solid black;
    max-width:200px;
    width:90%;
    border-radius:15px;
    padding:10px;
    margin:10px;
}
.foot{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:20px;
    border-top:1px solid #ddd;
}
.foot a{
    text-decoration:none;
    color:black;
    transition:0.3s;
}
.foot a:hover{
    color:blue;
    transform:scale(1.2);
}