.container{
    max-width:900px;
    width:100%;
    margin:auto;
    padding:10px;
    border-radius:15px;
}
nav{
    display:flex;
    justify-content:space-between;
    position:sticky;
    top:10px;
}
.links {
    display:flex;
    gap:20px;
}
header{
    text-align:center;
}
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}
.card a{
    gap:20px;
}
.card{
    text-align:center;
    border:1px solid black;
    padding:10px;
    border-radius:12px;
}
img{
    width:100%;
    object-fit:cover;
    border-radius:12px;
}
.comment{
    display:flex;
    gap:20px;
}
.comment div{
    border:1px solid black;
    max-width:200px;
    width:90%;
    border-radius:15px;
    padding:10px;
    margin:10px;
}
.foot{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:20px;
}
.foot a{
    text-decoration:none;
    color:black;
    transition:0.3s;
}
.foot a:hover{
    color:blue;
    transform:scale(1.2);
}